# Basics
## Notebook
Questo e' un Notebook! Troverete del testo con delle spiegazioni e del codice che potete modificare ed eseguire. Ad esempio, qui sotto c'e' scritto un numero. Selezionando il blocco e schiacciando il tasto run, Python capira' che avete scritto un numero (e lo scrivera' in una riga sottostante). Provate ad editare il testo e a dire a Python un altro numero.

In [58]:
234

234

## Numeri
Python knows Math! 
Con Python possiamo fare i calcoli basilari:
* addizione (2 + 5)
* sottrazione (7 - 4)
* moltiplicazione (6 * 7)
* divisione (60 / 27)
* divisione intera (60 // 27)
* potenza (2 ** 10)
* modulo (resto divisione: 5 % 2 = 1, 4 % 2 = 0)

Prova qui sotto ad effettuare diversi calcoli. Quanto fa 17828001 / 5674829 ?

In [59]:
123 / 2 * 5 / 7 + 5

48.92857142857143

## Stringhe
Le stringhe sono sequenze di caratteri. Python sa che sono stringhe perche' iniziano e finiscono sempre o con un single quote (') o con un double quote ("). Qui sotto e' definita una stringa.

In [3]:
"Ciao! Sono una stringa"

'Ciao! Sono una stringa'

Alcune operazioni che si possono eseguire sulle stringhe:
* concatenazione ("una_stringa" + "un_altra_stringa")

In [9]:
"Ciao!" + " Sono una stringa"

'Ciao! Sono una stringa'

* ripetizione della stessa stringa ("stringa" * numero_di_ripetizioni)

In [ ]:
"Hello" * 7

* trasformare una stringa in maiuscolo ("stringa".upper()) o in minuscolo ("stringa".lower())

In [11]:
"Un po' MAIUSCOLO un PO' miNuSColo".upper()

"UN PO' MAIUSCOLO UN PO' MINUSCOLO"

* sapere quanto e' lunga una stringa (len("stringa"))

In [12]:
len("supercalifragilistichespiralidoso")

33

* sostituire un pezzo di stringa con un altro ("stringa".replace("da_sostituire", "nuova_stringa"))

In [52]:
"sto imparando Python".replace("sto", "stiamo")

'stiamo imparando Python'

## Variabili
Supponete di dover scrivere una stringa con il vostro nome ripetuto:

In [19]:
"Pamela ha dormito, Pamela ha lavorato, Pamela ha letto, Pamela ha mangiato, Pamela ha scritto tanto Python."

'pamela'

Pero' voi non vi chiamate Pamela! Se dovessimo cambiare nome, dovremmo cambiarlo in 6 posti diversi. Questo e' un esempio banale, ma in programmi complessi dover cambiare a mano tanti valori e' difficile da gestire.
Ci vengono in aiuto le variabili. Le variabili sono dei contenitori per numeri, stringhe (o oggetti come vedremo tra poco), che memorizzano un valore per poterlo utilizzare in un secondo momento. Le variabili vengono utilizzate per memorizzare dati e per rendere il codice piu' leggibile.
Per dichiarare una variabile si usa: nome_variabile = intero o stringa o oggetto

In [ ]:
un_numero = 7

In [ ]:
una_stringa = "Una stringa"

Per richiamare la variabile in un secondo momento, basta utilizzarne il nome. Con una variabile, il nostro esempio di prima diventa:

In [60]:
nome = "Pamela"
nome + " ha dormito, " + nome + " ha lavorato, " + nome + " ha letto, " + nome + " ha mangiato, " + nome + " ha scritto tanto Python."

'Andrea ha dormito, Andrea ha lavorato, Andrea ha letto, Andrea ha mangiato, Andrea ha scritto tanto Python.'

Con le variabili si possono utilizzare tutte le operazioni che abbiamo visto nella sezione precedente:

In [21]:
x = 7
y = 6
x * y

42

In [22]:
stringa_in_minuscolo = "una stringa in minuscolo"
stringa_in_maiuscolo = stringa_in_minuscolo.upper()
stringa_in_maiuscolo

'UNA STRINGA IN MINUSCOLO'

## Print
Tutto quello che abbiamo appena fatto scrive come output il risultato dell'ultima operazione che abbiamo fatto. E' possibile pero' far scrivere a Python una riga che dia una descrizione piu' accurata utilizzando il comando print:

In [ ]:
print("Un messaggio che spiega cosa stiamo facendo")

print ci permette di combinare variabili numeriche e non, di aggiungere queste descrizioni ovunque e di non avere l'output solo dell'ultimo comando che abbiamo lanciato. La f davanti alla stringa negli esempi che seguono indica a Python che deve sostituire la variabile tra graffe con il suo valore.

In [62]:
x = 7
y = 6
print(f"Moltiplicando {x} * {y} ottengo {x * y}")
linguaggio = "Python"
print(f"Stiamo imparando {linguaggio}")

Moltiplicando 7 * 6 ottengo 42
Stiamo imparando Python

## Liste
Oltre ai tipi che abbiamo visto sopra, Python definisce anche degli oggetti. Partiamo dalle liste. Le liste sono contenitori per altri oggetti. Qui sotto stiamo dichiarando una lista con due numeri interi e due stringhe.

In [63]:
[1, 2, "tre", "quattro"]

[1, 2, 'tre', 'quattro']

Con le liste possiamo fare diverse cose:
* calcolare il numero di elementi nella lista: len(lista)
* ordinare gli elementi della lista: lista.sort()
* aggiungere elementi alla lista: lista.append(nuovo_elemento)
* concatenare piu' liste: lista1 + lista2
* accedere ad uno specifico elemento della lista: lista(numero_elemento_nella_lista - 1)

In [30]:
lista = [1, 2, 3, 4]
len(lista)

4

In [32]:
lista = [6, 3, 8, 3, 1]
lista.sort()
lista

[1, 3, 3, 6, 8]

In [33]:
lista = [3, 9, 5, 1, 9]
lista.append(7)
lista

[3, 9, 5, 1, 9, 7]

In [26]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [24]:
lista = [1, 2, 3, 4, 5]
lista[2]

3

E' possibile modificare un elemento all'interno di una lista

In [53]:
lista = [1, 2, 3, 4]
lista[2] = 5
lista

[1, 2, 5, 4]

## Dizionari
I dizionari sono degli oggetti in cui gli elementi sono memorizzati come coppie chiave/valore: ad ogni chiave corrisponde il proprio valore.
Per accedere agli elementi del dizionario non si usano indici come per le liste, ma si accede direttamente tramite il nome della chiave:

In [69]:
scheda = {
    "nome": "Pamela",
    "nazione": "Italia",
    "linguaggi_di_programmazione": ["Python", "Scala"],
    "numero_gatti": 0
}
print(f'Per ottenere il valore della chiave "nome", basta utilizzare scheda["nome"]: {scheda["nome"]}')

Per ottenere il valore della chiave "nome", basta utilizzare scheda["nome"]: Pamela

## Espressioni condizionali
Le espressioni condizionali vengono utilizzate ogni volta che, in base al valore di una o piu' variabili, si devono effettuare operazioni differenti. La struttura e' del tipo:
if condizione:
  operazioni da fare solo se la condizione e' soddisfatta
elif un'altra condizione:
  operazioni da fare solo se l'altra condizione e' soddisfatta
else:
  operazioni da fare se nessuna delle condizioni definite sopra e' soddisfatta

Le condizioni possono essere:
* a > b
* a < b
* a == b (notare il doppio uguale per l'uguaglianza!)
* a != b (diverso)
* a >= b
* a <= b
* elemento in lista

Ad esempio, il seguente codice stampa una scritta diversa in base alla lunghezza della variabile (provate a cambiare il nome della variabile e vedrete che cambiera' l'output):

In [47]:
nome = "Hermione"
if len(nome) >= 8:
    print("Il nome e' lungo")
else:
    print("Il nome e' corto")

Il nome e' lungo

Questo codice invece stampa la presenza o meno di un elemento in una lista:

In [54]:
elemento = 7
lista = [2, 4, 6, 8, 10]
if elemento in lista:
    print('Elemento trovato!')
else:
    print('Elemento non trovato!')

Elemento non in lista

Esercizio: provate a scrivere un piccolo programma che prenda il minimo tra 3 numeri:

In [ ]:
a = 6
b = 4
c = 24

...

Piu' condizioni possono essere unite con and e or, oppure negate con un not:
* condizione1 and condizione2 indica che entrambe le condizioni devono essere soddisfatte
* condizione1 or condizione2 indica che una sola delle condizioni deve essere soddisfatta
* not condizione indica che la condizione non deve essere soddisfatta

In [70]:
nome = "Alessandro Magno"
if len(nome) >= 10:
    print(f"{nome} e' lunghissimo")
elif len(nome) >= 8 and len(nome) < 10:
    print(f"{nome} e' lungo")
else:
    print(f"{nome} e' corto")
    
if len(nome) < 8 or len(nome) > 10:
    print(f"{nome} e' corto o lunghissimo")
else:
    print(f"{nome} e' lungo")
    
if not len(nome) < 8:
    print(f"{nome} e' lungo")
else:
    print(f"{nome} e' corto")

Alessandro Magno e' lunghissimo
Alessandro Magno e' corto o lunghissimo
Alessandro Magno e' lungo

Una nota sull'uguaglianza di stringhe. Due stringhe sono considerate uguali se hanno gli stessi caratteri. "una stringa" e' diversa da "Una stringa". Per controllare l'uguaglianza indipendentemente dalle lettere maiuscole o minuscole si possono applicare i metodi visti precedentemente .lower() o .upper(). Puoi modificare il codice qui sotto in modo che l'if consideri le due stringhe uguali?

In [75]:
stringa1 = "una stringa"
stringa2 = "Una stringa"

if stringa1 != stringa2:
    print("Le due stringhe sono diverse")
else:
    print("Le due stringhe sono uguali")

Le due stringhe sono diverse

## Cicli
Vi ricordate le liste di poco fa? Cosa succederebbe se avessimo una lista e ne volessimo un'altra in cui ogni elemento viene moltiplicato per 2?

In [38]:
[1, 2, 3, 4]
moltiplicatore = 2
[1 * moltiplicatore, 2  * moltiplicatore, 3 * moltiplicatore, 4 * moltiplicatore]

[2, 4, 6, 8]

Questa lista aveva solo 4 elementi. Ma se la lista avesse avuto 10, 100, 1000 elementi? Possiamo usare il ciclo for per operare su tutti gli elementi della lista senza ripeterci!

In [40]:
l = range(0, 50) # Questa e' una scorciatoia per evitare di scrivere a mano tutti i numeri da 0 a 49!
output = []
for n in l:
    output.append(n * 2)
output

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Analogamente, si possono scrivere dei cicli anche sui dizionari:

In [48]:
scheda = {
    "nome": "Pamela",
    "nazione": "Italia",
    "show_preferito": "Game of thrones",
    "universita": "Politecnico di Milano"
}
for chiave, valore in scheda.items():
    print(f"{chiave}: {valore}")

nome: Pamela
nazione: Italia
show_preferito: Game of thrones
universita: Politecnico di Milano

In caso di liste, il ciclo for puo' essere scritto in modo piu' compatto utilizzando quelle che vengono chiamate for comprehension:

In [ ]:
[i * 2 for i in range(0, 50)]

Il codice nella linea precedente e' una for comprehension, ed ha lo stesso significato del ciclo che abbiamo scritto poco fa per moltiplicare per 2 tutti i numeri da 1 a 49. E' possibile anche mettere piu' cicli for uno dentro l'altro, oppure utilizzare delle condizioni per includere solo valori che soddisfano una certa condizione. Cosa fanno le seguenti linee di codice?

In [73]:
[f'{i}{j}' for i in ['a', 'b', 'c', 'd'] for j in ['e', 'f', 'g', 'h']]

['ae',
 'af',
 'ag',
 'ah',
 'be',
 'bf',
 'bg',
 'bh',
 'ce',
 'cf',
 'cg',
 'ch',
 'de',
 'df',
 'dg',
 'dh']

In [74]:
[i for i in range(0, 10) if i % 2 == 0]

[0, 2, 4, 6, 8]

## Funzioni
Le funzioni vengono utilizzate per raggruppare del codice in modo logico, cosi' da evitare il copia/incolla e poterlo riutilizzare facilmente.

In [57]:
def saluta(nome):
    nome_in_maiuscolo = nome.upper()
    aggiunta_saluto = f"Ciao {nome_in_maiuscolo}"
    return aggiunta_saluto

print(saluta("Python"))
print(saluta("Harry Potter"))
print(saluta("Daenerys Targaryan"))

Ciao PYTHON
Ciao HERRY POTTER
Ciao DAENERYS TARGARYAN

Le funzioni a loro volta possono essere raggruppate in piu' moduli. Per poter utilizzare funzioni o oggetti che non fanno parte del programma che stiamo scrivendo, dobbiamo importare il modulo che le racchiude, e a quel punto le funzioni e gli oggetti sono disponibili per l'utilizzo.
Esistono delle librerie standard di Python, ad esempio datetime. Importando datetime abbiamo a disposizione tutta una serie di funzioni per la manipolazione di date: di seguito andiamo ad importare l'oggetto date dalla libreria datetime. Una volta importata, possiamo chiamare metodi dell'oggetto date.

In [78]:
from datetime import date

date.today()

datetime.date(2019, 6, 13)

Un'altra libreria standard utile e' math. Come dal nome, math espone funzioni matematiche, oltre ai concetti di infinito e di NaN (not a number).
"import math" significa che stiamo importando tutta la libreria math, e che potremo accedere a tutte le sue funzioni tramite la notazione "math.nome_funzione()"

In [34]:
import math

a = - math.inf
b = math.inf
c = math.nan
d = math.pow(2, 10)
print(f"a: {a}, b: {b}, c: {c}, d: {d}, e: {e}")

ZeroDivisionError: division by zero

## NumPy
NumPy e' la libreria core per effettuare calcolo scientifico in Python. Da' accesso ad array multidimensionali performanti e tools per lavorare con questi array.
Le linee che seguono importano numpy con una sintassi leggermente diversa da quella appena vista.
"import numpy as np" importa tutta NumPy dandole pero' un alias, in modo da poter chiamare tutte le funzioni come "np.array", "np.zeroes", etc.

In [94]:
import numpy as np

a = np.array([1, 2, 3])
print(f"a = {a}")
b = b = np.array([(1.5,2,3), (4,5,6)])
print(f"b = {b}")
c = np.random.random((2, 3))
print(f"c = {c}")
print(f"b + c = {b + c}")
print(f"b trasposto = {b.transpose()}")
print(f"Seconda colonna di b = {b[:, 1]}")
print(f"Pimi due elementi della prima riga di b = {b[0, 0:2]}")
print(f"Elementi divisibili per due di b = {b[b % 2 == 0]}")

a = [1 2 3]
b = [[1.5 2.  3. ]
 [4.  5.  6. ]]
c = [[0.67006321 0.66310617 0.37817178]
 [0.69600373 0.51119736 0.5156713 ]]
b + c = [[2.17006321 2.66310617 3.37817178]
 [4.69600373 5.51119736 6.5156713 ]]
b trasposto = [[1.5 4. ]
 [2.  5. ]
 [3.  6. ]]
Seconda colonna di b = [2. 5.]
Pimi due elementi della prima riga di b = [1.5 2. ]
Elementi divisibili per due di b = [2. 4. 6.]

## Pandas
Pandas e' una libreria basata su NumPy e definisce delle strutture dati e tools di data analisi per Python. Uno degli oggetti esposti da Pandas sono le serie, ovvero array monodimensionali in cui gli elementi hanno una label:

In [ ]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])

Sulle serie possono essere effettuate le operazioni standard (somme, sottrazioni, etc.). In caso ci siano dei dati mancanti e l'operazione non possa essere effettuata, la label corrispondente avra' il valore Nan:

In [36]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
s1 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
s + s1

a    10.0
b     NaN
c     5.0
d     7.0
dtype: float64

Con Pandas andremo anche ad utilizzare dati strutturati in un dataframe, che possiamo considerare come una tabella. Qui vedete un esempio di come si definisce un data frame e di alcune operazioni che possiamo farci su:

In [10]:
import pandas as pd
data = {
    'Country': ['Belgium', 'India', 'Brazil'],
    'Capital': ['Brussels', 'New Delhi', 'Brasília'],
    'Population': [11190846, 1303171035, 207847528]}
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])
print(df)
print(f'Capitale e polazione del Belgio: {df.loc[[0], ["Capital", "Population"]]}')
print(f'Capitali con popolazione piu\' grande di 120 milioni: {df[df["Population"]>1200000000]}')

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528
Capitale e polazione del Belgio:     Capital  Population
0  Brussels    11190846
Capitali con popolazione piu' grande di 120 milioni:   Country    Capital  Population
1   India  New Delhi  1303171035

Adesso andiamo a lavorare con dei dati veri! Le linee di codice che seguono leggono da un file i 500 Le linee di codice seguenti vanno a leggere un dataframe da un file dove sono contenuti i Rolling Stone's 500 Greatest Albums of All Time. Grazie a Pandas possiamo facilmente estrarre gli album dei Beatles ordinati per anno di uscita decrescente. Oppure raggruppare per artista e anno e trovare chi ha prodotto piu' dischi in un anno.

In [33]:
import pandas as pd

music = pd.read_csv('albumlist.csv')
print('Gli album dei Beatles ordinati per anno decrescente')
print(music.sort_values("Year", axis=0, ascending=False)[music['Artist'].isin(['The Beatles'])][['Year', 'Album']])
print('')
music.groupby(['Artist'], as_index=False).count().sort_values("Number", ascending=False).head(10)[:][['Artist', 'Number']]

Gli album dei Beatles ordinati per anno decrescente
     Year                                  Album
391  1970                              Let It Be
13   1969                             Abbey Road
9    1968        The Beatles ("The White Album")
0    1967  Sgt. Pepper's Lonely Hearts Club Band
2    1966                               Revolver
330  1965                                  Help!
4    1965                            Rubber Soul
306  1964                     A Hard Day's Night
52   1964                      Meet The Beatles!
38   1963                       Please Please Me

/home/mela/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

                 Artist  Number
230         The Beatles      10
24            Bob Dylan      10
255  The Rolling Stones      10
31    Bruce Springsteen       8
266             The Who       7
194           Radiohead       5
274                  U2       5
124        Led Zeppelin       5
68           Elton John       5
51          David Bowie       5